html {
  font-size: 62.5%;
  background-color: #f4f4f4;
}

:root {
  --color-primary: #2584ff;
  --color-primary-hover: #0c76ff;
  --color-border: #a49f9f;
  --font-color: #555f6d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


.block {
  padding: 1rem 2rem;
}


.block--center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}

.block__subtitle {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
  display: block;
}


.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-cirlce {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  color: white;
  font-size: 5rem;
  font-weight: 700;
}

.table {
  min-width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
}

.table tr {
  border-bottom: 1px solid var(--color-border);
}

.table th,
td {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem 2rem;
  white-space: nowrap;
  margin: 1rem 0;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--primary:hover {
  background-color: var(--color-primary-hover);
}


.input {
  border: 1px solid var(--color-border);
  color: var(--font-color);
  font-size: 2rem;
  outline: 0;
  padding: 1rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

@media screen and (min-width:481px) {
  .table {
    min-width: 85%;
    border-collapse: collapse;
    font-size: 1.5rem;
  }
}

@media screen and (min-width:769px) {
  .table {
    min-width: 57%;
    border-collapse: collapse;
    font-size: 1.5rem;
  }
}